body{
font-size:10px

}

div.red_pat{
color:red
}

div.blue_pat{
color:blue
}

div.complete{
    font-weight:bold;
    text-decoration:underline;
}


table, th, td{
border:1px solid black
}

span.button, span.button_sel{
    border:1px solid black;
    margin:2px;
    margin-left:5px;
    border-radius:5px;
    padding:2px;
    background-color:#ddd;
    cursor:pointer
}

span.button_sel{
    background-color:steelblue;
    cursor:default;
    color:#fff
			 
}


div.rule, div.rule_sel{
    border:1px solid black;
    margin:2px;
    color:black;
    border-radius:5px;
    padding:2px;
    background-color:#ddd;
    cursor:pointer
}

div.rule_sel{
    background-color:steelblue;
    cursor:default;
    color:#fff
			 
}


select {
    font-size:10px;
    border-radius:5px;
    border:1px solid black
}
